<h2>Sign up to become a plugin publisher</h2>
{{#if messages.err}}
  <div class="flash flash-error">
    {{messages.err}}
  </div>
{{/if}}
<form action="/sign-up" method="POST">
  <dl class="form">
    <dt><label>Name</label></dt>
    <dd><input type="text" name="name" placeholder="Name"></dd>
  </dl>
  <dl class="form">
    <dt><label>Location</label></dt>
    <dd><input type="text" name="location" placeholder="Location"></dd>
  </dl>
  <dl class="form">
    <dt><label>IBAN Number for payments</label></dt>
    <dd><input type="text" name="iban" placeholder="IBAN"></dd>
  </dl>
  <dl class="form">
    <dt><label>E-mail</label></dt>
    <dd><input type="text" name="email" placeholder="E-mail"></dd>
  </dl>
  <dl class="form">
    <dt><label>Password</label></dt>
    <dd><input type="password" name="password" placeholder="Password"></dd>
  </dl>
  <input type="submit" value="Sign up" class="btn btn-primary"/><a href="/sign-in" class="btn separated-btn">Sign in</a>
</form>