<h2>Sign in</h2>
{{#if messages.err}}
  <div class="flash flash-error">
    {{messages.err}}
  </div>
{{/if}}
<form action="/sign-in" method="POST">
  <dl class="form">
    <dt><label>E-mail</label></dt>
    <dd><input type="text" name="email" placeholder="E-mail"></dd>
  </dl>

  <dl class="form">
    <dt><label>Password</label></dt>
    <dd><input type="password" name="password" placeholder="Password"></dd>
  </dl>
  <input type="submit" value="Sign in" class="btn btn-primary"/><a href="/sign-up" class="btn separated-btn">Sign up</a>
</form>