<!DOCTYPE html>
<html>
<head>
  <title>Sketch Marketplace</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/primer-css/css/primer.css">
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Sketch Marketplace</h1>
    <hr/>
    <div class="columns">
      <div class="one-fifth column">
        <nav class="menu">
          <a class="menu-item" href="/">Home</a>
          <a class="menu-item" href="/plugins">Plugin library</a>
          {{#if user}}
            <a class="menu-item" href="/dashboard">Dashboard</a>
            <a class="menu-item" href="/sign-out">Sign out</a>
          {{else}}
            <a class="menu-item" href="/sign-in">Sign in</a>
          {{/if}}
        </nav>
      </div>
      <div class="four-fifths column">
        {{{body}}}
      </div>
    </div>
  </div>
</body>
</html>