<h2>Plugins by {{author.name}}</h2>
<div class="plugin-list">
  {{#each plugins.docs}}
    <div class="plugin">
      <a href="/plugins/{{this.slug}}">{{this.name}}</a>
      <br/>
      <small>{{this.short_description}} • ${{this.price}}</small>
    </div>
  {{/each}}
</div>

{{#if needsHr}}
<hr/>
{{/if}}

{{#if prevPage}}
  <a href="/plugins/page/{{prevPage}}" class="btn btn-sm">Back</a>
{{/if}}
{{#if nextPage}}
  <a href="/plugins/page/{{nextPage}}" class="btn btn-sm">Next</a>
{{/if}}