<h2>New plugin</h2>
{{#if messages.err}}
  <div class="flash flash-error">
    {{messages.err}}
  </div>
{{/if}}
<form action="/plugins/new" method="POST">
  <dl class="form">
    <dt><label>Name</label></dt>
    <dd><input type="text" name="name" placeholder="Plugin name"></dd>
  </dl>
  <dl class="form">
    <dt><label>Short description</label></dt>
    <dd><input type="text" name="shortdescription" placeholder="Plugin short description"></dd>
  </dl>
  <dl class="form">
    <dt><label>Description</label></dt>
    <dd><textarea name="description" placeholder="Plugin description"></textarea></dd>
  </dl>
    <dl class="form">
    <dt><label>Price</label></dt>
    <dd><input type="text" name="price" placeholder="Plugin price"></dd>
  </dl>
  <dl class="form">
    <dt><label>Shortcut</label></dt>
    <dd><input type="text" name="shortcut" placeholder="Plugin shortcut"></dd>
  </dl>
  <dl class="form">
    <dt><label>License</label></dt>
    <dd><select name="license">
      <option value="1">GPL</option>
      <option value="2">GNU</option>
      <option value="3">MIT</option>
      <option value="4">Other</option>
    </select></dd>
  </dl>
  <dl class="form">
    <dt><label>Minimum Sketch Version</label></dt>
    <dd><input type="text" name="minver" placeholder="Sketch minimum version"></dd>
  </dl>

  <input type="submit" value="Create plugin" class="btn btn-primary"/>
</form>