<h2>{{plugin.name}} <small>by <a href="/plugins/by/{{owner.slug}}">{{owner.name}}</a></small>  <button onClick="return alert('Feature not implemented!')" class="btn btn-sm btn-outline" type="button">Buy plugin</button>
</h2>

<span class="state state-open">Price: ${{plugin.price}}</span>
<span class="state state-open">Minimum Sketch version: {{plugin.min_sketch_ver}}</span>
<span class="state state-open">License: {{licenseHuman plugin.license}}</span>
<hr/>
<p>{{plugin.description}}</p>
