<h2>Welcome {{user.name}}</h2>
<a href="/plugins/new" class="btn">Add plugin</a><a href="/dashboard/settings" class="btn">Account settings</a>

<ul class="filter-list dashboard-plugin-list">
  {{#each plugins}}
    <li>
      <a href="/plugins/{{this.slug}}" class="filter-item">
        {{this.name}}
      </a>
    </li>
  {{/each}}
</ul>