<h2>Settings</h2>
{{#if messages.err}}
  <div class="flash flash-error">
    {{messages.err}}
  </div>
{{/if}}
{{#if messages.info}}
  <div class="flash">
    {{messages.info}}
  </div>
{{/if}}
<form action="/dashboard/settings" method="POST">
  <dl class="form">
    <dt><label>Name</label></dt>
    <dd><input type="text" name="name" placeholder="Name" value="{{user.name}}"></dd>
  </dl>
  <dl class="form">
    <dt><label>Location</label></dt>
    <dd><input type="text" name="location" placeholder="Location" value="{{user.location}}"></dd>
  </dl>
  <dl class="form">
    <dt><label>IBAN Number</label></dt>
    <dd><input type="text" name="iban" placeholder="IBAN" value="{{user.iban}}"></dd>
  </dl>
  <dl class="form">
    <dt><label>E-mail</label></dt>
    <dd><input type="text" name="email" placeholder="E-mail" value="{{user.email}}"></dd>
  </dl>
  <input type="submit" value="Save" class="btn btn-primary"/>
</form>
<hr/>
<form action="/dashboard/settings/password" method="POST">
  <dl class="form">
    <dt><label>Password</label></dt>
    <dd><input type="password" name="password" placeholder="Password"></dd>
  </dl>
  <input type="submit" value="Save password" class="btn btn-primary"/>
</form>