a.btn {
  margin-right:10px;
}

ul.dashboard-plugin-list {
  margin-top:10px;
}

li a.filter-item {
  border: 1px solid #ddd;
  border-radius: 5px;
}

div.plugin-list {
  width:100%;
}

div.plugin-list div.plugin {
  border-bottom: 1px solid #ddd;
  padding:25px;
  margin-bottom: 10px;
}

div.plugin-list div.plugin:hover {
  background-color: #ddd;
}

div.landing-centered {
  text-align: center;
}

a.separated-btn {
  margin-left:10px;
}